---
const today = new Date();
---
<footer class="border-t border-zinc-200 bg-zinc-50 dark:border-zinc-800 dark:bg-zinc-950">
  <div class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8">
    <p class="text-center text-sm leading-6 text-zinc-500 dark:text-zinc-400">
      &copy; <span id="current-year">{today.getFullYear()}</span> <span class="font-bold text-lime-700 dark:text-lime-500">green</span><span class="font-normal text-zinc-900 dark:text-zinc-100">adda</span>. Rooting Tech in Sustainability.
    </p>
  </div>
</footer>

<script>
  document.getElementById('current-year')!.innerText = new Date().getFullYear().toString();
</script>
